Archivo utilizado para procesar la base de datos con la que trabajaremos

Importamos librerias

In [1]:
import pandas as pd
import numpy as np

Importamos Datos Privados

In [76]:
# Levanto la base de datos privados con la que trabajeremos
df_k = pd.read_csv('base_kavak.csv', sep=";")

# Observamos nuestro dataset
df_k.info()
df_k.shape
# (2532, 15)

# Armo una lista de los modelos disponibles en el dataset
modelos = df_k['Modelo'].unique().tolist()
# 146 modelos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2446 entries, 0 to 2445
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2446 non-null   int64
 1   Marca                2446 non-null   object
 2   Modelo               2446 non-null   object
 3   Año                  2446 non-null   int64
 4   Versión              2446 non-null   object
 5   price                2446 non-null   object
 6   currency             2446 non-null   object
 7   condition            2446 non-null   object
 8   Puertas              2446 non-null   int64
 9   Tipo de combustible  2446 non-null   object
 10  Kilómetros           2238 non-null   float64
 11  adressstate_name     2446 non-null   object
 12  adresscity_name      2446 non-null   object
 13  Motor                2446 non-null   float64
 14  Transmisión          2446 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 286.8+ KB

Importamos Datos Públicos

In [14]:
# Levanto la base de datos públicos con la que trabajeremos
df_0 = pd.read_excel('data_api.xlsx')

In [15]:
# Observamos nuestro dataset
df_0.info()
df_0.shape
# (10822, 52)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10822 entries, 0 to 10821
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     10822 non-null  object
 1   site_id                10822 non-null  object
 2   title                  10822 non-null  object
 3   price                  10822 non-null  int64
 4   currency_id            10822 non-null  object
 5   available_quantity     10822 non-null  int64
 6   sold_quantity          10822 non-null  int64
 7   buying_mode            10822 non-null  object
 8   listing_type_id        10822 non-null  object
 9   stop_time              10822 non-null  object
 10  condition              10822 non-null  object
 11  permalink              10822 non-null  object
 12  thumbnail              10820 non-null  object
 13  thumbnail_id           10820 non-null  object
 14  accepts_mercadopago    10822 non-null  bool
 15  address                10822 non-null  object
 16  seller_address         10822 non-null  object
 17  attributes             10822 non-null  object
 18  category_id            10822 non-null  object
 19  official_store_id      2187 non-null   float64
 20  domain_id              10822 non-null  object
 21  catalog_product_id     10253 non-null  object
 22  tags                   10822 non-null  object
 23  order_backend          10822 non-null  int64
 24  use_thumbnail_id       10822 non-null  bool
 25  Condición del ítem     10822 non-null  object
 26  Marca                  10822 non-null  object
 27  Puertas                10822 non-null  int64
 28  Tipo de combustible    10822 non-null  object
 29  Kilómetros             10822 non-null  object
 30  Modelo                 10822 non-null  object
 31  Versión                10822 non-null  object
 32  Año                    10822 non-null  int64
 33  adressstate_id         10822 non-null  object
 34  adressstate_name       10822 non-null  object
 35  adresscity_id          10814 non-null  object
 36  adresscity_name        10822 non-null  object
 37  adressarea_code        0 non-null      float64
 38  adressphone1           0 non-null      float64
 39  Único dueño            3806 non-null   object
 40  Control de tracción    10483 non-null  object
 41  Motor                  10584 non-null  object
 42  Transmisión            10615 non-null  object
 43  Aire acondicionado     6218 non-null   object
 44  Cilindrada             10030 non-null  object
 45  Largo                  10095 non-null  object
 46  Capacidad de personas  10145 non-null  float64
 47  Potencia               10030 non-null  object
 48  Línea                  389 non-null    object
 49  Cilindros              3 non-null      float64
 50  Horas de uso           0 non-null      float64
 51  Power trim             0 non-null      float64
dtypes: bool(2), float64(7), int64(6), object(37)
memory usage: 4.1+ MB

(10822, 52)

In [16]:
# Evaluamos si tiene duplicados
print(df_0.duplicated().sum())
# 0 filas duplicadas

0

In [17]:
# Evaluamos si tiene nulos
df_0.isna().sum().sort_values()
# Varias variables tienen nulos

id                           0
domain_id                    0
tags                         0
order_backend                0
use_thumbnail_id             0
Marca                        0
Puertas                      0
category_id                  0
Tipo de combustible          0
Modelo                       0
Versión                      0
Año                          0
adressstate_id               0
adressstate_name             0
adresscity_name              0
Kilómetros                   0
attributes                   0
Condición del ítem           0
address                      0
site_id                      0
seller_address               0
price                        0
currency_id                  0
available_quantity           0
sold_quantity                0
buying_mode                  0
listing_type_id              0
title                        0
condition                    0
permalink                    0
accepts_mercadopago          0
stop_time                    0
thumbnail                    2
thumbnail_id                 2
adresscity_id                8
Transmisión                207
Motor                      238
Control de tracción        339
catalog_product_id         569
Capacidad de personas      677
Largo                      727
Potencia                   792
Cilindrada                 792
Aire acondicionado        4604
Único dueño               7016
official_store_id         8635
Línea                    10433
Cilindros                10819
adressarea_code          10822
Horas de uso             10822
adressphone1             10822
Power trim               10822
dtype: int64

In [18]:
df_1 = df_0.drop(labels=['Horas de uso', 'Power trim', 'adressarea_code','adressphone1','Cilindros','Línea', 'official_store_id','site_id','title',
'sold_quantity','buying_mode','stop_time','permalink','thumbnail','accepts_mercadopago','address',
'seller_address', 'attributes', 'category_id','domain_id','use_thumbnail_id','Condición del ítem','adressstate_id','adresscity_id','adressarea_code',
'adressphone1','thumbnail_id'], axis=1)
df_1.isna().sum().sort_values()

id                          0
adresscity_name             0
adressstate_name            0
Año                         0
Versión                     0
Kilómetros                  0
Tipo de combustible         0
Puertas                     0
Marca                       0
Modelo                      0
tags                        0
condition                   0
listing_type_id             0
available_quantity          0
currency_id                 0
price                       0
order_backend               0
Transmisión               207
Motor                     238
Control de tracción       339
catalog_product_id        569
Capacidad de personas     677
Largo                     727
Potencia                  792
Cilindrada                792
Aire acondicionado       4604
Único dueño              7016
dtype: int64

In [19]:
# Sacamos aquellas publicadas con valor en Dolares
df_1 = df_1.drop(df_1[df_1['currency_id']=='USD'].index)

In [20]:
df_1 = df_1.drop(df_1[df_1['condition']=='new'].index)

In [21]:
df_1.info()
df_1.describe()
df_1.shape
# (5684, 27)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5684 entries, 0 to 10821
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     5684 non-null   object
 1   price                  5684 non-null   int64
 2   currency_id            5684 non-null   object
 3   available_quantity     5684 non-null   int64
 4   listing_type_id        5684 non-null   object
 5   condition              5684 non-null   object
 6   catalog_product_id     5425 non-null   object
 7   tags                   5684 non-null   object
 8   order_backend          5684 non-null   int64
 9   Marca                  5684 non-null   object
 10  Puertas                5684 non-null   int64
 11  Tipo de combustible    5684 non-null   object
 12  Kilómetros             5684 non-null   object
 13  Modelo                 5684 non-null   object
 14  Versión                5684 non-null   object
 15  Año                    5684 non-null   int64
 16  adressstate_name       5684 non-null   object
 17  adresscity_name        5684 non-null   object
 18  Único dueño            1248 non-null   object
 19  Control de tracción    5475 non-null   object
 20  Motor                  5561 non-null   object
 21  Transmisión            5585 non-null   object
 22  Aire acondicionado     2483 non-null   object
 23  Cilindrada             5383 non-null   object
 24  Largo                  5448 non-null   object
 25  Capacidad de personas  5453 non-null   float64
 26  Potencia               5383 non-null   object
dtypes: float64(1), int64(5), object(21)
memory usage: 1.2+ MB

(5684, 27)

In [22]:
# Saco los valores de MLA para tener valores númericos
df_1 = df_1.replace('MLA','',regex=True)

# Pongo a los kilometros en el formato correcto
df_1 = df_1.replace(' km','',regex=True)
df_1

,id,price,currency_id,available_quantity,listing_type_id,condition,catalog_product_id,tags,order_backend,Marca,...,adresscity_name,Único dueño,Control de tracción,Motor,Transmisión,Aire acondicionado,Cilindrada,Largo,Capacidad de personas,Potencia
0,1133532094,3450000,ARS,1,gold_premium,used,15520177,"['good_quality_picture', 'good_quality_thumbna...",7,Toyota,...,Capital Federal,NaN,Delantera,1.5,Manual,NaN,1.5 L,3945 mm,5.0,107 hp
1,1133510417,4300000,ARS,1,gold_premium,used,17086228,"['good_quality_picture', 'good_quality_thumbna...",8,Toyota,...,Capital Federal,No,Delantera,1.5,Manual,No,1.5 L,3945 mm,5.0,107 hp
2,1132726637,4490000,ARS,1,gold_premium,used,15520175,"['good_quality_picture', 'good_quality_thumbna...",21,Toyota,...,Pilar,NaN,Delantera,1.5,Manual,NaN,1.5 L,3945 mm,5.0,107 hp
3,1130792055,4490000,ARS,1,gold_premium,used,15520175,"['good_quality_picture', 'good_quality_thumbna...",40,Toyota,...,Pilar,NaN,Delantera,1.5,Manual,NaN,1.5 L,3945 mm,5.0,107 hp
4,1123872922,4399000,ARS,1,gold_premium,used,18647552,"['good_quality_picture', 'good_quality_thumbna...",25,Toyota,...,Villa Carlos Paz,NaN,Delantera,1.5,Automática,NaN,1495 cc,3945 mm,5.0,107 hp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10808,1127369241,2600000,ARS,1,gold_premium,used,8695549,"['good_quality_picture', 'good_quality_thumbna...",24,Audi,...,Bragado,NaN,Delantera,1.4,Manual,Sí,1390 cc,3954 mm,4.0,122 hp
10809,1133625636,3950000,ARS,1,gold,used,10229569,"['dragged_visits', 'good_quality_picture', 'go...",42,Audi,...,Capital Federal,NaN,Delantera,1.4,Manual,Sí,1390 cc,3954 mm,4.0,122 hp
10813,1120157467,1990000,ARS,1,gold,used,8684257,"['good_quality_picture', 'good_quality_thumbna...",22,Audi,...,La Matanza,NaN,Delantera,1.4,Manual,Sí,1390 cc,3954 mm,4.0,122 hp
10818,1124163157,2800000,ARS,1,gold,used,8695549,"['good_quality_picture', 'good_quality_thumbna...",17,Audi,...,Capital Federal,NaN,Delantera,1.4,Manual,Sí,1390 cc,3954 mm,4.0,122 hp
10821,1131261795,4320000,ARS,1,gold_premium,used,8962528,"['good_quality_picture', 'good_quality_thumbna...",35,Fiat,...,Córdoba,NaN,Delantera,1.4,Manual,Sí,1368 cc,4273 mm,5.0,140 hp

In [23]:
df_2 = df_1.drop(labels=['tags','order_backend','catalog_product_id','available_quantity',
'Único dueño','Control de tracción', 'Aire acondicionado', 'Cilindrada', 'Largo', 'Capacidad de personas', 'Potencia','listing_type_id'], axis=1)

In [24]:
df_2.info()
df_2.describe()
df_2.shape
# (5684, 15)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5684 entries, 0 to 10821
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5684 non-null   object
 1   price                5684 non-null   int64
 2   currency_id          5684 non-null   object
 3   condition            5684 non-null   object
 4   Marca                5684 non-null   object
 5   Puertas              5684 non-null   int64
 6   Tipo de combustible  5684 non-null   object
 7   Kilómetros           5684 non-null   object
 8   Modelo               5684 non-null   object
 9   Versión              5684 non-null   object
 10  Año                  5684 non-null   int64
 11  adressstate_name     5684 non-null   object
 12  adresscity_name      5684 non-null   object
 13  Motor                5561 non-null   object
 14  Transmisión          5585 non-null   object
dtypes: int64(3), object(12)
memory usage: 710.5+ KB

(5684, 15)

Guardamos la info en un Excel

In [25]:
# Guardamos la información en un Excel

# Exporto a un Excel
datos_base_model_simple = df_2
datos_base_model_simple.to_excel('data_ready_to_model_api_simple.xlsx', index=False)

datos_base_model_completa = df_1
datos_base_model_completa.to_excel('data_ready_to_model_api_completa.xlsx', index=False)