Archivo utilizado para procesar la base de datos con la que trabajaremos

Importamos librerias

In [1]:
import pandas as pd
import numpy as np

Importamos Datos Privados

In [2]:
# Levanto la base de datos privados con la que trabajeremos
df_k = pd.read_csv('base_kavak.csv', sep=";")

# Observamos nuestro dataset
df_k.info()
df_k.shape
# (2532, 15)

# Armo una lista de los modelos disponibles en el dataset
modelos = df_k['modelo'].unique().tolist()
# 146 modelos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288 entries, 0 to 2287
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   precio       2288 non-null   int64
 1   currency     2288 non-null   object
 2   localidad    2288 non-null   object
 3   provincia    2288 non-null   object
 4   km           2288 non-null   int64
 5   year         2288 non-null   int64
 6   marca        2288 non-null   object
 7   fecha_visto  2288 non-null   object
 8   modelo       2288 non-null   object
 9   id           2288 non-null   int64
 10  type         2288 non-null   object
dtypes: int64(4), object(7)
memory usage: 196.8+ KB

Importamos Datos Públicos

In [3]:
# Levanto la base de datos públicos con la que trabajeremos
df_0 = pd.read_excel('data_api.xlsx')

In [4]:
# Observamos nuestro dataset
df_0.info()
df_0.shape
# (20797, 52)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20797 entries, 0 to 20796
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     20797 non-null  object
 1   site_id                20797 non-null  object
 2   title                  20797 non-null  object
 3   price                  20797 non-null  int64
 4   currency_id            20797 non-null  object
 5   available_quantity     20797 non-null  int64
 6   sold_quantity          20797 non-null  int64
 7   buying_mode            20797 non-null  object
 8   listing_type_id        20797 non-null  object
 9   stop_time              20797 non-null  object
 10  condition              20797 non-null  object
 11  permalink              20797 non-null  object
 12  thumbnail              20781 non-null  object
 13  thumbnail_id           20781 non-null  object
 14  accepts_mercadopago    20797 non-null  bool
 15  address                20797 non-null  object
 16  seller_address         20797 non-null  object
 17  attributes             20797 non-null  object
 18  category_id            20797 non-null  object
 19  official_store_id      3422 non-null   float64
 20  domain_id              20797 non-null  object
 21  catalog_product_id     18216 non-null  object
 22  tags                   20797 non-null  object
 23  order_backend          20797 non-null  int64
 24  use_thumbnail_id       20797 non-null  bool
 25  Condición del ítem     20797 non-null  object
 26  Marca                  20797 non-null  object
 27  Puertas                20797 non-null  int64
 28  Tipo de combustible    20797 non-null  object
 29  Kilómetros             20797 non-null  object
 30  Modelo                 20797 non-null  object
 31  Versión                20797 non-null  object
 32  Año                    20797 non-null  int64
 33  adressstate_id         20797 non-null  object
 34  adressstate_name       20797 non-null  object
 35  adresscity_id          20788 non-null  object
 36  adresscity_name        20797 non-null  object
 37  adressarea_code        0 non-null      float64
 38  adressphone1           0 non-null      float64
 39  Único dueño            6676 non-null   object
 40  Control de tracción    19351 non-null  object
 41  Motor                  19460 non-null  object
 42  Transmisión            19642 non-null  object
 43  Aire acondicionado     12069 non-null  object
 44  Cilindrada             17780 non-null  object
 45  Largo                  17780 non-null  object
 46  Capacidad de personas  17975 non-null  float64
 47  Potencia               17780 non-null  object
 48  Línea                  535 non-null    object
 49  Cilindros              6 non-null      float64
 50  Horas de uso           1 non-null      object
 51  Power trim             1 non-null      object
dtypes: bool(2), float64(5), int64(6), object(39)
memory usage: 8.0+ MB

(20797, 52)

In [6]:
# Evaluamos si tiene duplicados
print(df_0.duplicated().sum())
# 0 filas duplicadas

0

In [7]:
# Evaluamos si tiene nulos
df_0.isna().sum().sort_values()
# Varias variables tienen nulos

id                           0
domain_id                    0
tags                         0
order_backend                0
use_thumbnail_id             0
Marca                        0
Puertas                      0
category_id                  0
Tipo de combustible          0
Modelo                       0
Versión                      0
Año                          0
adressstate_id               0
adressstate_name             0
adresscity_name              0
Kilómetros                   0
attributes                   0
Condición del ítem           0
address                      0
site_id                      0
seller_address               0
price                        0
currency_id                  0
available_quantity           0
sold_quantity                0
buying_mode                  0
listing_type_id              0
title                        0
condition                    0
permalink                    0
accepts_mercadopago          0
stop_time                    0
adresscity_id                9
thumbnail                   16
thumbnail_id                16
Transmisión               1155
Motor                     1337
Control de tracción       1446
catalog_product_id        2581
Capacidad de personas     2822
Potencia                  3017
Largo                     3017
Cilindrada                3017
Aire acondicionado        8728
Único dueño              14121
official_store_id        17375
Línea                    20262
Cilindros                20791
Horas de uso             20796
Power trim               20796
adressarea_code          20797
adressphone1             20797
dtype: int64

In [33]:
df_1 = df_0.drop(labels=['Horas de uso', 'Power trim', 'adressarea_code','adressphone1','Cilindros','Línea', 'official_store_id','site_id','title',
'sold_quantity','buying_mode','stop_time','permalink','thumbnail','accepts_mercadopago','address',
'seller_address', 'attributes', 'category_id','domain_id','use_thumbnail_id','Condición del ítem','adressstate_id','adresscity_id','adressarea_code',
'adressphone1','thumbnail_id'], axis=1)
df_1.isna().sum().sort_values()

id                           0
adresscity_name              0
adressstate_name             0
Año                          0
Versión                      0
Kilómetros                   0
Tipo de combustible          0
Puertas                      0
Marca                        0
Modelo                       0
tags                         0
condition                    0
listing_type_id              0
available_quantity           0
currency_id                  0
price                        0
order_backend                0
Transmisión               1155
Motor                     1337
Control de tracción       1446
catalog_product_id        2581
Capacidad de personas     2822
Largo                     3017
Potencia                  3017
Cilindrada                3017
Aire acondicionado        8728
Único dueño              14121
dtype: int64

In [31]:
# Sacamos aquellas publicadas con valor en Dolares
df_1 = df_1.drop(df_1[df_1['currency_id']=='USD'].index)

In [34]:
df_1.info()
df_1.describe()
df_1.shape
# (15551, 27)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20797 entries, 0 to 20796
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     20797 non-null  object
 1   price                  20797 non-null  int64
 2   currency_id            20797 non-null  object
 3   available_quantity     20797 non-null  int64
 4   listing_type_id        20797 non-null  object
 5   condition              20797 non-null  object
 6   catalog_product_id     18216 non-null  object
 7   tags                   20797 non-null  object
 8   order_backend          20797 non-null  int64
 9   Marca                  20797 non-null  object
 10  Puertas                20797 non-null  int64
 11  Tipo de combustible    20797 non-null  object
 12  Kilómetros             20797 non-null  object
 13  Modelo                 20797 non-null  object
 14  Versión                20797 non-null  object
 15  Año                    20797 non-null  int64
 16  adressstate_name       20797 non-null  object
 17  adresscity_name        20797 non-null  object
 18  Único dueño            6676 non-null   object
 19  Control de tracción    19351 non-null  object
 20  Motor                  19460 non-null  object
 21  Transmisión            19642 non-null  object
 22  Aire acondicionado     12069 non-null  object
 23  Cilindrada             17780 non-null  object
 24  Largo                  17780 non-null  object
 25  Capacidad de personas  17975 non-null  float64
 26  Potencia               17780 non-null  object
dtypes: float64(1), int64(5), object(21)
memory usage: 4.3+ MB

(20797, 27)

In [58]:
# Saco los valores de MLA para tener valores númericos
df_1 = df_1.replace('MLA','',regex=True)

# Pongo a los kilometros en el formato correcto
df_1 = df_1.replace(' km','',regex=True)
df_1

,id,price,currency_id,available_quantity,listing_type_id,condition,catalog_product_id,tags,order_backend,Marca,...,adresscity_name,Único dueño,Control de tracción,Motor,Transmisión,Aire acondicionado,Cilindrada,Largo,Capacidad de personas,Potencia
0,903884830,2850000,ARS,1,silver,used,NaN,"['good_quality_picture', 'good_quality_thumbna...",1,Acura,...,Capital Federal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,932476572,4000000,ARS,1,silver,used,NaN,"['good_quality_picture', 'good_quality_thumbna...",1,Agrale,...,Lincoln,Sí,4x4,MWM,Manual,NaN,NaN,NaN,NaN,NaN
2,1121119730,3700000,ARS,1,gold_premium,used,8687637,"['good_quality_picture', 'good_quality_thumbna...",1,Alfa Romeo,...,Capital Federal,No,Delantera,1.4,Automática,Sí,1368 cc,4351 mm,5.0,170 hp
3,1127687379,2940000,ARS,1,gold_premium,used,8689183,"['good_quality_thumbnail', 'dragged_visits', '...",2,Alfa Romeo,...,Moreno,No,Delantera,1.4,Automática,Sí,1368 cc,4065 mm,5.0,170 hp
4,1133258609,2600000,ARS,1,gold_premium,used,8684898,"['good_quality_picture', 'good_quality_thumbna...",3,Alfa Romeo,...,Capital Federal,Sí,Delantera,1.4,Manual,Sí,1368 cc,4351 mm,5.0,170 hp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20792,1113478540,3650000,ARS,1,silver,new,NaN,"['good_quality_picture', 'good_quality_thumbna...",21,Zanella,...,Esteban Echeverría,No,Trasera,1.2 16 v euro v,Manual,Sí,NaN,NaN,NaN,NaN
20793,1114200136,3550000,ARS,1,silver,new,NaN,"['dragged_visits', 'good_quality_picture', 'go...",22,Zanella,...,Resistencia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20794,1130990251,3482000,ARS,1,silver,new,NaN,"['good_quality_picture', 'good_quality_thumbna...",23,Zanella,...,Vicente López,NaN,Trasera,1.2,NaN,Sí,NaN,NaN,NaN,NaN
20795,1128652485,3350000,ARS,1,gold_premium,used,NaN,"['good_quality_picture', 'good_quality_thumbna...",24,Zanella,...,Avellaneda,No,Delantera,107 CV,Manual,No,NaN,NaN,NaN,NaN
20796,1126420430,240000,ARS,1,free,used,NaN,"['poor_quality_picture', 'poor_quality_thumbna...",25,Zanella,...,Lanús,Sí,Trasera,150cc,Automática secuencial,No,NaN,NaN,NaN,NaN

In [59]:
df_2 = df_1.drop(labels=['tags','order_backend','catalog_product_id','available_quantity',
'Único dueño','Control de tracción', 'Aire acondicionado', 'Cilindrada', 'Largo', 'Capacidad de personas', 'Potencia','listing_type_id'], axis=1)

In [60]:
df_2.info()
df_2.describe()
df_2.shape
# (20797, 15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20797 entries, 0 to 20796
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   20797 non-null  object
 1   price                20797 non-null  int64
 2   currency_id          20797 non-null  object
 3   condition            20797 non-null  object
 4   Marca                20797 non-null  object
 5   Puertas              20797 non-null  int64
 6   Tipo de combustible  20797 non-null  object
 7   Kilómetros           20797 non-null  object
 8   Modelo               20797 non-null  object
 9   Versión              20797 non-null  object
 10  Año                  20797 non-null  int64
 11  adressstate_name     20797 non-null  object
 12  adresscity_name      20797 non-null  object
 13  Motor                19460 non-null  object
 14  Transmisión          19642 non-null  object
dtypes: int64(3), object(12)
memory usage: 2.4+ MB

(20797, 15)

Guardamos la info en un Excel

In [61]:
# Guardamos la información en un Excel

# Exporto a un Excel
datos_base_model_simple = df_2
datos_base_model_simple.to_excel('data_ready_to_model_api_simple.xlsx', index=False)

datos_base_model_completa = df_1
datos_base_model_completa.to_excel('data_ready_to_model_api_completa.xlsx', index=False)