Archivo utilizado para procesar la base de datos con la que trabajaremos

Importamos librerias

In [14]:
import pandas as pd
import numpy as np

Importamos Datos Privados

In [15]:
# Levanto la base de datos privados con la que trabajeremos
df_k = pd.read_csv('base_kavak.csv', sep=";")

# Observamos nuestro dataset
df_k.info()
df_k.shape
# (2532, 15)

# Armo una lista de los modelos disponibles en el dataset
modelos = df_k['modelo'].unique().tolist()
# 146 modelos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288 entries, 0 to 2287
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   precio       2288 non-null   int64
 1   currency     2288 non-null   object
 2   localidad    2288 non-null   object
 3   provincia    2288 non-null   object
 4   km           2288 non-null   int64
 5   year         2288 non-null   int64
 6   marca        2288 non-null   object
 7   fecha_visto  2288 non-null   object
 8   modelo       2288 non-null   object
 9   id           2288 non-null   int64
 10  type         2288 non-null   object
dtypes: int64(4), object(7)
memory usage: 196.8+ KB

Importamos Datos Públicos

In [18]:
# Levanto la base de datos públicos con la que trabajeremos
df_0 = pd.read_excel('data_api.xlsx')

In [19]:
# Observamos nuestro dataset
df_0.info()
df_0.shape
# (51360, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20797 entries, 0 to 20796
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     20797 non-null  object
 1   site_id                20797 non-null  object
 2   title                  20797 non-null  object
 3   price                  20797 non-null  int64
 4   currency_id            20797 non-null  object
 5   available_quantity     20797 non-null  int64
 6   sold_quantity          20797 non-null  int64
 7   buying_mode            20797 non-null  object
 8   listing_type_id        20797 non-null  object
 9   stop_time              20797 non-null  object
 10  condition              20797 non-null  object
 11  permalink              20797 non-null  object
 12  thumbnail              20781 non-null  object
 13  thumbnail_id           20781 non-null  object
 14  accepts_mercadopago    20797 non-null  bool
 15  address                20797 non-null  object
 16  seller_address         20797 non-null  object
 17  attributes             20797 non-null  object
 18  category_id            20797 non-null  object
 19  official_store_id      3422 non-null   float64
 20  domain_id              20797 non-null  object
 21  catalog_product_id     18216 non-null  object
 22  tags                   20797 non-null  object
 23  order_backend          20797 non-null  int64
 24  use_thumbnail_id       20797 non-null  bool
 25  Condición del ítem     20797 non-null  object
 26  Marca                  20797 non-null  object
 27  Puertas                20797 non-null  int64
 28  Tipo de combustible    20797 non-null  object
 29  Kilómetros             20797 non-null  object
 30  Modelo                 20797 non-null  object
 31  Versión                20797 non-null  object
 32  Año                    20797 non-null  int64
 33  adressstate_id         20797 non-null  object
 34  adressstate_name       20797 non-null  object
 35  adresscity_id          20788 non-null  object
 36  adresscity_name        20797 non-null  object
 37  adressarea_code        0 non-null      float64
 38  adressphone1           0 non-null      float64
 39  Único dueño            6676 non-null   object
 40  Control de tracción    19351 non-null  object
 41  Motor                  19460 non-null  object
 42  Transmisión            19642 non-null  object
 43  Aire acondicionado     12069 non-null  object
 44  Cilindrada             17780 non-null  object
 45  Largo                  17780 non-null  object
 46  Capacidad de personas  17975 non-null  float64
 47  Potencia               17780 non-null  object
 48  Línea                  535 non-null    object
 49  Cilindros              6 non-null      float64
 50  Horas de uso           1 non-null      object
 51  Power trim             1 non-null      object
dtypes: bool(2), float64(5), int64(6), object(39)
memory usage: 8.0+ MB

(20797, 52)

In [20]:
# Evaluamos si tiene duplicados
print(df_0.duplicated().sum())
# 0 filas duplicadas

0

In [ ]:
# Evaluamos si tiene nulos
df_0.isna().sum().sort_values()
# Varias variables tienen nulos

In [12]:
# Sacamos aquellas publicadas con valor en Dolares
df_1 = df_0.drop(df[df['currency_id']=='USD'].index)

In [13]:
df_1.shape
df_1.info()
df_1.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15551 entries, 0 to 20796
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     15551 non-null  object
 1   site_id                15551 non-null  object
 2   title                  15551 non-null  object
 3   price                  15551 non-null  int64
 4   currency_id            15551 non-null  object
 5   available_quantity     15551 non-null  int64
 6   sold_quantity          15551 non-null  int64
 7   buying_mode            15551 non-null  object
 8   listing_type_id        15551 non-null  object
 9   stop_time              15551 non-null  object
 10  condition              15551 non-null  object
 11  permalink              15551 non-null  object
 12  thumbnail              15541 non-null  object
 13  thumbnail_id           15541 non-null  object
 14  accepts_mercadopago    15551 non-null  bool
 15  address                15551 non-null  object
 16  seller_address         15551 non-null  object
 17  attributes             15551 non-null  object
 18  category_id            15551 non-null  object
 19  official_store_id      3055 non-null   float64
 20  domain_id              15551 non-null  object
 21  catalog_product_id     13934 non-null  object
 22  tags                   15551 non-null  object
 23  order_backend          15551 non-null  int64
 24  use_thumbnail_id       15551 non-null  bool
 25  Condición del ítem     15551 non-null  object
 26  Marca                  15551 non-null  object
 27  Puertas                15551 non-null  int64
 28  Tipo de combustible    15551 non-null  object
 29  Kilómetros             15551 non-null  object
 30  Modelo                 15551 non-null  object
 31  Versión                15551 non-null  object
 32  Año                    15551 non-null  int64
 33  adressstate_id         15551 non-null  object
 34  adressstate_name       15551 non-null  object
 35  adresscity_id          15542 non-null  object
 36  adresscity_name        15551 non-null  object
 37  adressarea_code        0 non-null      float64
 38  adressphone1           0 non-null      float64
 39  Único dueño            5346 non-null   object
 40  Control de tracción    14627 non-null  object
 41  Motor                  14776 non-null  object
 42  Transmisión            14838 non-null  object
 43  Aire acondicionado     8955 non-null   object
 44  Cilindrada             13596 non-null  object
 45  Largo                  13620 non-null  object
 46  Capacidad de personas  13756 non-null  float64
 47  Potencia               13595 non-null  object
 48  Línea                  513 non-null    object
 49  Cilindros              4 non-null      float64
 50  Horas de uso           1 non-null      object
 51  Power trim             1 non-null      object
dtypes: bool(2), float64(5), int64(6), object(39)
memory usage: 6.1+ MB

,price,available_quantity,sold_quantity,official_store_id,order_backend,Puertas,Año,adressarea_code,adressphone1,Capacidad de personas,Cilindros
count,1.555100e+04,15551.000000,15551.0,3055.000000,15551.000000,15551.000000,15551.000000,0.0,0.0,13756.000000,4.00
mean,4.161196e+06,4.042184,0.0,2202.488380,25.110668,4.372388,2016.111954,NaN,NaN,4.963652,3.75
std,3.392927e+06,113.847184,0.0,293.883109,14.432089,0.826744,6.918850,NaN,NaN,1.284073,0.50
min,1.000000e+05,1.000000,0.0,1845.000000,1.000000,-5.000000,1930.000000,NaN,NaN,2.000000,3.00
25%,2.299900e+06,1.000000,0.0,1920.000000,13.000000,4.000000,2013.000000,NaN,NaN,5.000000,3.75
50%,3.490000e+06,1.000000,0.0,2143.000000,25.000000,5.000000,2018.000000,NaN,NaN,5.000000,4.00
75%,5.200000e+06,1.000000,0.0,2445.000000,38.000000,5.000000,2021.000000,NaN,NaN,5.000000,4.00
max,1.300000e+08,5000.000000,0.0,2833.000000,50.000000,7.000000,2023.000000,NaN,NaN,20.000000,4.00

Guardamos la info en un Excel

In [ ]:
# Guardamos la información en un Excel

# Exporto a un Excel
datos_api = df_1
datos_api.to_excel('data_ready_to_model_api.xlsx', index=False)